body{background-color: rgb(12, 145, 12);
    
}
h1{color:rgb(225, 240, 15);
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    padding: 0.5em;
    border: solid;
    border-color:rgb(22, 58, 219) ;}
.log{
background-color: rgb(241, 221, 106);

}

.usuario{
width: 400px;
height: 70px;
background-color: rgb(160, 214, 12);
color: rgb(5, 5, 236);
font-family: Verdana, Geneva, Tahoma, sans-serif;
cursor: pointer;
border-radius: 20px;
text-decoration: none;
text-decoration-line: none;

}
.usuario2{
width: 200px;
height: 40px;
background-color: rgb(95, 247, 7);
color: rgb(16, 16, 240);
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.botonsesion{
    background-color:transparent;
    height: 100px;
    width:100%;
    display: flex;
    
    justify-content: right;
    justify-items: right;
}
.em{
    width: 300px;
    height: 50px;
    background-color: rgb(98, 240, 86);
    color: rgb(56, 4, 71);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    text-decoration-line: none;
    
    }
.em:hover{
    opacity: 0.8;
background-color: rgb(0, 255, 191);
}
input::placeholder{
color: rgb(6, 50, 248);
}
.usuario:hover {
    opacity: 0.8;
background-color: rgb(0, 255, 55);
}


h1.log{
color:rgb(8, 135, 185);
font-size: 15px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
text-transform: uppercase;
padding: 0.5em;

}
.login{
background: rgb(5, 248, 155);
border: solid;
border-color: rgb(15, 90, 253);
color: rgb(41, 252, 13);
width: 200px;
font-family:Arial;
height: 50px;
font-size: 30px;
cursor: pointer;}
