body{
    background-image: url(fondotermino.jpg);
    background-repeat: no-repeat;
    background-size: 100% 150%;;
    
}
h1{color:rgba(244, 247, 248, 0.774);
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    padding: 0.5em;
    border: solid;
    border-color:rgb(22, 58, 219) ;}
.log{
background-color: rgb(59, 148, 250);

}

.usuario{
width: 400px;
height: 70px;
background: linear-gradient(to right,   rgb(81, 238, 217),  rgb(5, 141, 151));
color: rgb(5, 5, 236);
font-family: Verdana, Geneva, Tahoma, sans-serif;
cursor: pointer;
border-radius: 20px;
text-decoration: none;
text-decoration-line: none;

}
.usuario2{
width: 200px;
height: 40px;
background-color:  rgb(59, 148, 250);
color: rgb(16, 16, 240);
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.botonsesion{
    background-color:transparent;
    height: 100px;
    width:100%;
    display: flex;
    justify-content: right;
    justify-items: right;
}
.em{
    width: 300px;
    height: 50px;
    background-color:  rgb(59, 148, 250);
    color: rgb(56, 4, 71);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    text-decoration-line: none;
    
    }
.em:hover{
    opacity: 0.8;
background-color: rgb(116, 11, 236);
}
input::placeholder{
color: rgb(6, 50, 248);
}
.usuario:hover {
    opacity: 0.8;
background-color:  rgb(59, 148, 250);
}


h1.log{
color:rgb(8, 135, 185);
font-size: 15px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
text-transform: uppercase;
padding: 0.5em;

}
.login{
background:  rgb(116, 11, 236);
border: solid;
border-color: rgb(15, 90, 253);
color: rgb(41, 252, 13);
width: 200px;
font-family:Arial;
height: 50px;
font-size: 30px;
cursor: pointer;}
td{background: rgb(1, 12, 0);
    
    color: rgb(248, 113, 113);
    border: solid;
    font-family: Arial, Helvetica, sans-serif;
    border-color: rgb(209, 65, 22);
    width: 33%;
    height: 100px;
    font-size: 30px;
    }